
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --white:#ffffff;
}

*{
    font-family:'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: none;
    transition: all .2s linear;
    color: rgb(0, 0, 0);
    position:relative;
}


html{
    font-size: 65%;
    overflow-x: hidden;
}


html::-webkit-scrollbar{
    width:1.5rem;
}

html::-webkit-scrollbar-track{
    background:rgb(46, 44, 44);
}

html::-webkit-scrollbar-thumb{
    background:rgb(128, 120, 120);
    border-radius: 1rem;
}

body{
    background:#1E1D1D;
}


section{
    min-height: 100vh;
    padding:1rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.btn-resume{
    padding:.6rem 3rem;
    background:rgb(37, 37, 37);
    color:rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 9rem;
    font-size: 2rem;
    border-radius: 5rem;
    }

.btn-certificates{
    padding:.6rem 3rem;
    background:rgb(37, 37, 37);
    color:rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    }

.btn-resume:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scale(1.1);
    cursor: pointer;
    }

.btn-certificates:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scale(1.1);
    cursor: pointer;
    }

.btn-about:hover {
    background-color: rgb(0, 0, 0);
    color: #eee;
    transform: scale(1.1);
    cursor: pointer;
    
    }

.btn-portfolio:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    cursor: pointer;
    }



.btn-portfolio{
    padding:.7rem 3rem;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    outline: black;
    outline-style: auto;
}

.btn-about{
    padding:.7rem 3rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-size: 2rem;
    border-radius: 5rem;
    outline: black;
    outline-style: auto;
}

.about-me{
    text-align: left;
    margin:12rem 0rem 0rem 9rem;
    font-size: 7rem;
    padding:1rem;
    color:#fff;
}

.navbar{
    width:100%;
    text-align: right;
    width:100%;
    background:#ffffff;
    display: flex;
    position: relative;
    top:0; left:0;
    z-index: 1000;
}

.navbar ul{
    list-style: none;
    padding:3rem 1rem 0rem 0rem;
    font-size: 20px;
    width: 100%;
}


.navbar ul li a{
    color:rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
}

.navbar :hover{
    color: #7a6a6a;
}


.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 25rem;
    background-color: #ffffff;
}

.home h3{
    font-size: 30px;
    color:rgb(0, 0, 0);
    text-align: center;
    font-weight: normal;
}

.home h1{
    font-size:8rem;
    color:rgb(0, 0, 0);
    text-align: center;
    font-weight: 800;
}


.home p{
    font-size:20px;
    color:rgb(0, 0, 0);
    padding: 0rem 15rem;
    text-align: center;
}


.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    background-color: #ffffff;
}
.info h2{
    font-size: 2rem;
    color:var(--white);
    padding:1rem 0;
    font-weight: 300;
    text-align: left;
    padding: 0rem 50rem 0rem 10rem;
}

.container{
    width: 100%
}
.container .title{
    font-size: 7rem;
    color:var(--white);
    margin-left: 9rem;
    margin-top: .5rem;
    padding-bottom: 2rem;
    font-weight: 700;
}

.portfolio{
    margin-top: 20rem;
    display: flex;
    padding:0rem 0rem 0rem 0rem;
    background-color: #000000;
}

.portfolio-box img:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.work-box {
    padding-left: 9rem;
    display: flex;
    justify-content: space-between;
    padding-right: 9rem;
    flex-wrap: wrap;
}
    

.portfolio-box{
    width: 45rem;
    margin-bottom: 3rem;
   
}
.portfolio-box img{
    width: 100%; 
}


.category{
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 200;
}
.work-title{
    height:5rem;
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}
.work-links-container{
    display:    flex;
}
.work-links{
    width: 10rem;
    height: 2.5rem;
    border-radius: .5rem;
    background-color: #131313;
    margin-right: 1rem;
}
.work-links:hover{
    background-color: rgb(0, 26, 255);
    transform: scale(1.1);
    cursor: pointer;
}
.work-links p{
    color: #eee;
    font-size: 12px;
    margin:auto;
    text-align: center;
}

.link-details{
    color: #eee;
    font-size: 15px;
    text-align: center;
}

.contact-details{
    padding-left: 10rem;
    padding-top: 8rem;
}
.contact-header{
    font-size: 3rem;
    font-weight: 200;
    color: #ADADAD;
    padding-bottom: 2rem;
}
.contact-info{
    font-size: 5rem;
    padding-right: 50rem;
    color: #fff;
    font-weight: 700;
}

.contact-icon{
    display: flex;
    padding-top: 2rem;
}
.contact-icon img{
    padding-right: 1.5rem;
}
.contact-icon img:hover
{
    transform: scale(1.1);
    cursor: pointer;
}
.info h2{
    font-size: 2rem;
    padding-right: 50rem;
    color: #ffffff;
    font-weight: 300;
    padding-bottom: 1rem;
}
.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}























/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }